<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="assets/Logo@2x.png" alt="..." height="36">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dana">Dhana</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pooja">Pooja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Dhamma-school">Dhamma school</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user-profile">My profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Buddhika
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
